@using Nansbook
@model UserProfile
@{
    ViewBag.Title = string.Format("{0} {1}", Model.FirstName, Model.LastName);
    int userid = Request.QueryString["id"] != null ? int.Parse(Request.QueryString["id"].ToString()) : WebSecurity.CurrentUserId;
    bool isMyProfile = userid == WebSecurity.CurrentUserId;
}

@section scripts{
    <script type="text/javascript" src="~/scripts/profile.js"></script>
}

<img src="~/profilepics/@Model.PhotoFileName" class="roundImg2 center-block" />

<form id="frmProfile" action="~/account/viewprofile" method="post" enctype="multipart/form-data">
    
    <div id="errMsg" class="red bold"></div>
    <span class="red bold">@if(isMyProfile) { <text>* Required</text> }else{ <text>&nbsp;</text> }</span>
    <div class="input-group">
        <span class="input-group-addon grad1 label1">Username (Email)</span>
        <span class="form-control">@Model.UserName</span>
    </div>
    <input type="hidden" name="UserName" value="@Model.UserName" />

    @if(isMyProfile)
    {
    <div class="input-group">
        <span class="input-group-addon grad1 label1">Password </span>
        <input type="password" id="txt_password1" name="Password" class="form-control" />
    </div>
    <div class="input-group">
        <span class="input-group-addon grad1 label1">Confirm Password </span>
        <input type="password" id="txt_password2" name="Password2" class="form-control"  @if(!isMyProfile){<text>readonly="readonly"</text>} />
    </div>
    <br />
    <br />
    }
    <div class="input-group margTop5">
        <span class="input-group-addon grad1 label1">First Name <span class="red bold">*</span></span>
        @if(isMyProfile){<input type="text" id="txt_firstname" name="FirstName" class="form-control" value="@Model.FirstName" />}else{<span class="form-control">@Model.FirstName</span>}
    </div>
    <div class="input-group margTop5">
        <span class="input-group-addon grad1 label1">Middle Name</span>
        @if(isMyProfile){<input type="text" id="txt_middlename" name="MiddleName" class="form-control" value="@Model.MiddleName" />}else{<span class="form-control">@Model.MiddleName</span>}
    </div>
    <div class="input-group margTop5">
        <span class="input-group-addon grad1 label1">Last Name <span class="red bold">*</span></span>
        @if(isMyProfile){<input type="text" id="txt_lastname" name="LastName" class="form-control" value="@Model.LastName" />}else{<span class="form-control">@Model.LastName</span>}
    </div>
    <div class="input-group margTop5">
        <span class="input-group-addon grad1 label1">Nickname</span>
        @if(isMyProfile){<input type="text" id="txt_nickname" name="NickName" class="form-control" value="@Model.NickName" />}else{<span class="form-control">@Model.NickName</span>}
    </div>
    <div class="input-group margTop5">
        <span class="input-group-addon grad1 label1">Address</span>
        @if(isMyProfile){<input type="text" id="txt_address1" name="Address" class="form-control" value="@Model.Address1" />}else{<span class="form-control">@Model.Address1</span>}
        @if(isMyProfile){<input type="text" id="txt_address2" name="Address2" class="form-control" value="@Model.Address2" />}else{<span class="form-control">@Model.Address2</span>}
    </div>
    <div class="input-group margTop5">
        <span class="input-group-addon grad1 label1">City</span>
        @if(isMyProfile){<input type="text" id="txt_city" name="City" class="form-control" value="@Model.City" />}else{<span class="form-control">@Model.City</span>}
    </div>
    <div class="input-group margTop5">
        <span class="input-group-addon grad1 label1">State <span class="red bold">*</span></span>
        @if(isMyProfile){<select id="sel_state" name="StateId" class="form-control">
            <option value="0">Select State</option>
            @foreach (State state in ViewBag.States)
            {
                <option value="@state.Id" @if(state.Id == Model.State){<text>selected</text>}>@state.Name</option>
            }
        </select>}else{<span class="form-control">@Model.State1.Name</span>}
    </div>
    <div class="input-group margTop5">
        <span class="input-group-addon grad1 label1">Home Phone</span>
        @if(isMyProfile){<input type="text" id="txt_homephone" name="HomePhone" class="form-control" value="@Model.HomePhone"  @if(!isMyProfile){<text>readonly="readonly"</text>} />}else{<span class="form-control">@Model.HomePhone</span>}
    </div>
    <div class="input-group margTop5">
        <span class="input-group-addon grad1 label1">Mobile Phone</span>
        @if(isMyProfile){<input type="text" id="txt_mobilephone" name="MobilePhone" class="form-control" value="@Model.MobilePhone"  @if(!isMyProfile){<text>readonly="readonly"</text>} />}else{<span class="form-control">@Model.MobilePhone</span>}
    </div>
    <div class="input-group margTop5">
        <span class="input-group-addon grad1 label1">Social Security</span>
        @if(isMyProfile){<input type="text" id="txt_socialsec" name="SocialSecurity" class="form-control" value="@Model.SocialSecurity"  @if(!isMyProfile){<text>readonly="readonly"</text>} />}else{<span class="form-control">@Model.SocialSecurity</span>}
    </div>
    <div class="input-group margTop5">
        <span class="input-group-addon grad1 label1">Role <span class="red bold">*</span></span>
        @if(isMyProfile){<select id="sel_role" name="Role" class="form-control" @if(!isMyProfile){<text>readonly="readonly"</text>} >
            <option value="0">Select Role</option>
            @foreach (webpages_Roles role in ViewBag.Roles)
            {
                <option value="@role.RoleName" @if(role.RoleId == Model.webpages_Roles.ElementAt(0).RoleId){<text>selected</text>}>@role.RoleName</option>
            }
        </select>}else{<span class="form-control">@Model.webpages_Roles.ElementAt(0).RoleName</span>}
    </div>

    @if(isMyProfile)
    {
    <div class="input-group margTop5">
        <span class="input-group-addon grad1 label1"><img id="img_photo" src="~/profilepics/@Model.PhotoFileName" class="roundImg1" />  Photo</span>
        <input type="file" id="file_photo" name="PhotoFileName" class="form-control"  />
    </div>
    }
    <br />
    <br />
     @if(isMyProfile){
        <span class="btn btn-lg btn-primary center-block" id="btn_update">UPDATE</span>
     }

    <input type="hidden" id="hid_id" name="Id" value="@Model.UserId" />
</form>